<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/cerulean/bootstrap.min.css"
    integrity="sha384-3fdgwJw17Bi87e1QQ4fsLn4rUFqWw//KU0g8TvV6quvahISRewev6/EocKNuJmEw" crossorigin="anonymous">
</head>

<body style=<%-locals.info ? `background-color:${info.colores}` : locals.rememberColor ?
  `background-color:${rememberColor}` : null%>>
  <% if (locals.info) { %>
    <h2 class="text-primary mt-5">Hola <%= info.nombre %>, elegiste el color <%= info.colores %>,tu email es: <%=
            info.email %> y tu edad es: <%= info.edad %> años</h2>
    <% } %>

      <hr>
      <hr>
      <h2>
        <%- info.nombre %>,gracias por visitarnos
      </h2>
      <hr>


</body>

</html>